// Fonts
$font-primary: "Neue Haas Unica", sans-serif;
$font-secondary: "Cooper BT Light", serif;

// Colors
$color-transparent: rgba(#000, 0);
$color-black: #000;
$color-dark: #010101;
$color-light: #f0f0f0;
$color-white: #fff;
$color-contrast: #FFC93E;

// Animations
$transition-default: .2s ease;

// Breakpoints
$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-md: 870px;
$breakpoint-sm: 567px;
